<h1>{{title}} Customer</h1>
<hr>
<div>{{errorMessage}}</div>
<form [formGroup]="customerForm" (ngSubmit)="save()" novalidate>
    <div class="form-group row">
        <label for="" class="col-md-12">Name</label>
        <div class="col-md-4">
            <input type="text"  class="form-control"
                   formControlName="name">
        </div>
        <div class="col-md-6">
            <div class="error" *ngIf="name.invalid && (name.dirty || submitted)">
                <div *ngIf="name.errors.required">
                    Name is required
                </div>
                <div *ngIf="name.errors.minlength">
                   Min. 3 charaters
                </div>
                <div *ngIf="name.errors.maxlength">
                    Must not exceed 30 charaters
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-md-12">Address</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                    formControlName="address" >
        </div>
        <div class="col-md-6">
            <div class="error" *ngIf="address.invalid && (address.dirty || submitted)">
                 <div *ngIf="address.errors.required">
                    Address is required
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-md-12">Phone#</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                   formControlName="phone">
        </div>
        <div class="col-md-6">
            <div class="error" *ngIf="phone.invalid && (phone.dirty || submitted)">
                <div *ngIf="phone.errors.pattern">
                    Invalid phone number!
                </div>
            </div>            
        </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
           <input type="submit" 
                  class="btn btn-primary" 
                  value="Save" />
            <input type="button" 
                   class="btn btn-warning" 
                   value="Cancel"
                   (click)="cancel()">
      </div>

    </div>
</form>